.titulo-texto-lg {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 100;
    padding: 0;
    margin-top: 20px;
}

.titulo-texto {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 100;
    text-align: center;
    padding: 0;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    text-align: center;
    margin: 22px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.div-titulo{

    width: 90%;
    margin: auto;
}

.carrito-de-compras{
    width: 60px;
    margin-top: 5%;
}

.cantidad-elementos{
    text-align: left;
    margin-top: 20px;
}

.elemento-navbar{
    margin-top:7px;
    margin-bottom :7px;
    margin-left: 25px;
    margin-right: 7px;
    font-family: 'Roboto';
    font-style: normal;
}

.linea-personalizada{
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.cuadro-central{
    align-items: center;
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%;
}

.cuadro-producto{
    margin: 1px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    text-align: center;
}

.div-boton-añadir-carrito{
    margin-bottom: 5%;
}

.boton-añadir-carrito{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    background: #F2A950;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 40px;
}

.imagen-producto{
    margin:3% 10%;
}

.texto-producto{
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin:10%;
}

.precio-producto{
    font-weight: 800;
}

.imagen-banner{
    margin-top: 5%;
}

.nav-bar-mobile{
    margin-left:10%;
    margin-right: 10%;;
}

.elemento-nav-bar-mobile{
    background: #FDCD55;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    height: 40px;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
    color: #000000;
}

.footer-personalizado{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;
margin: 5%;
color: #000000;
}

.boton-amarillo{
    background: #FDCD55;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
}

.boton-verde{
    background: #708C32;
border: 1px solid #000000;
box-sizing: border-box;
color:white;
margin: 10px;
padding: 10px;
}

.boton-rojo{
    background: #8C162C;
border: 1px solid #000000;
box-sizing: border-box;
color:white;
margin: 10px;
padding: 10px;
}

.total-pagar{

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: left;

}
.rectangulo-confirmacion{
    position:absolute;
    width:50%;
    height:50%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    min-height: 370px;
    min-width: 370px;

}

.titulo-cancel-order{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

}
;



